<div class="row wrapper border-bottom white-bg page-heading" ng-controller="AddBookCtrl">
    <div class="col-sm-12">
        <form class="form-horizontal m-t-md" role="form" name="book_form" novalidate ng-submit="submitForm()">
            <div class="form-group">
                <label class="col-sm-3 control-label">Title of book</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="title" ng-model="book.title" ng-maxlength="100" required="">
                </div>
                <div class="m-t-xs col-sm-6 col-sm-offset-2">
                    <div ng-show="book_form.$submitted || book_form.title.$touched">
                        <small class="text-danger" ng-show="book_form.title.$error.required">Title required</small>
                    </div>
                    <small class="text-danger" ng-show="book_form.title.$error.maxlength">Title cannot be longer than 100 characters</small>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Book Cover</label>
                    <div class="col-sm-9">
                        <div class="img-preview img-preview-sm">
                            <img src="{{myImage || './../image/placeholder.jpg' }}" alt="book cover"></div>
                        <div class="btn-group upload-cover">
                            <label title="Upload image file" for="inputImage"  class="btn btn-primary">
                                <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                Upload book cover
                            </label>
                        </div>
                    </div>
                </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">ISBN</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="isbn" ng-model="book.isbn" pattern="^[0-9]+$" ng-maxlength="13" ng-minlength="9" required="">
                </div>
                <div class="m-t-xs col-sm-6 col-sm-offset-2">
                    <div ng-show="book_form.$submitted || book_form.isbn.$touched">
                        <small class="text-danger" ng-show="book_form.isbn.$error.required">ISBN required</small>
                    </div>
                    <small class="text-danger" ng-show="book_form.isbn.$error.maxlength">ISBN cannot be longer than 13 characters</small>
                    <small class="text-danger" ng-show="book_form.isbn.$error.minlength">ISBN cannot be smaller than 9 characters</small>
                    <small class="text-danger" ng-show="book_form.isbn.$error.pattern">Only numbers</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Authors</label>
                <div class="col-sm-9">
                    <select class="form-control m-b" name="author" multiple ng-model="author" ng-change="chandeAuthor(author)" required="">
                        <option ng-repeat="author in authors"
                                value="{{author.id}}">{{author.fullName}}</option>
                    </select>
                </div>
                <div class="m-t-xs col-sm-6 col-sm-offset-2">
                    <div ng-show="book_form.$submitted || book_form.author.$touched">
                        <small class="text-danger" ng-show="book_form.author.$error.required">Author required</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Selected Authors</label>
                <div class="col-sm-6 col-sm-offset-1">
                    <textarea class="form-control"  disabled rows="5">{{selectedAuthors}}</textarea>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Publisher</label>
                <div class="col-sm-9">
                    <select class="form-control m-b" name="publisher" ng-model="book.publisher_id" ng-init="book.publisher_id=-1">
                        <option value="-1" selected>All Publishers</option>
                        <option ng-repeat="publisher in publishers"
                                value="{{publisher.id}}">{{publisher.name}} - code {{publisher.code}}</option>
                    </select>
                </div>
                <div class="m-t-xs col-sm-6 col-sm-offset-2">
                    <div ng-show="book_form.$submitted || book_form.publisher.$touched">
                        <small class="text-danger" ng-show="book_form.publisher.$invalid">Publisher required</small>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Genre</label>
                <div class="col-sm-9">
                    <select class="form-control m-b" name="genre" ng-model="book.genre_id" ng-init="book.genre_id=-1">
                        <option value="-1" selected>All Genres</option>
                        <option ng-repeat="genre in genres"
                                value="{{genre.id}}">{{genre.name}}</option>
                    </select>
                </div>
                <div class="m-t-xs col-sm-6 col-sm-offset-2">
                    <div ng-show="book_form.$submitted || book_form.genre.$touched">
                        <small class="text-danger" ng-show="book_form.genre.$invalid">Genres required</small>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="col-lg-3 col-lg-offset-9">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
