<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h2>Add user</h2>
                <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form role="form" name="add_user_form" novalidate ng-submit="submitForm()">
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control full-width" name="username" ng-change="isUniqueEmail()"
                                   ng-model="name" ng-maxlength="60" required>
                            <div class="m-t-xs" ng-show="add_user_form.username.$invalid && add_user_form.submitted">
                                <small class="text-danger" ng-show="add_user_form.username.$error.required">Please fill out this field</small>
                                <small class="text-danger" ng-show="add_user_form.username.$error.maxlength">Your username cannot be longer than 60 characters</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="E-mail" class="form-control full-width" name="username" ng-change="isUniqueEmail()"
                                   ng-model="username" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9.]*$/" required>
                            <div class="m-t-xs" ng-show="add_user_form.username.$invalid && add_user_form.submitted">
                                <small class="text-danger" ng-show="add_user_form.username.$error.required">Please fill out this field</small>
                                <small class="text-danger" ng-show="add_user_form.username.$error.maxlength">Your e-mail cannot be longer than 20 characters</small>
                                <small class="text-danger" ng-show="add_user_form.username.$error.pattern">Input only latin letters, numbers and points</small>
                            </div>
                            <small class="text-danger" ng-show="uniqueEmail" ng-model="uniqueEmail">{{uniqueEmail}}</small>
                        </div>
                        <div class="form-group">
                            <img ng-src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9dUjorJ22mRMGKneOU5AVcqTJJInCtQjczeP2YPeEfNFav2Rt' class="avatar-img">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary block full-width" type="submit">
                                <strong>Create user</strong>
                            </button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>