<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AuthorsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>Authors</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Author's Books</th>
                                <th>CreatedAt</th>
                                <th>UpdatedAt</th>
                            </tr>
                            </thead>
                            <tbody class="text-left">
                            <tr ng-repeat="author in authors">
                                <td>{{author.fullName}}</td>
                                <td><ul  class="book-author-list" ng-repeat="book in author.book_with_all_authors">
                                    <li>{{book.title}}</li>
                                    <!--<li><img ng-src="{{book.cover_image? book.cover_image : './../image/placeholder.jpg'}}" class="avatar-img-sm "></li>-->
                                </ul></td>
                                <td>{{author.createdAt | date : 'yyyy-MM-dd'}}</td>
                                <td>{{author.updatedAt | date : 'yyyy-MM-dd'}}</td>
                                <td>
                                    <button class="btn btn-outline btn-default" type="button" ng-click="removeAuthor(author)">
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination total-items="totalItems" items-per-page="currentPage.limit" ng-model="currentPage.page"
                                    ng-change="pageChanged()" class="pagination-sm" boundary-links="false"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>