<div class="wrapper wrapper-content animated fadeInRight" ng-controller="BooksCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>books</h1>
                <div class="row">
                    <div class="col-md-2 col-md-offset-8">
                        <button type="button" class="btn btn-w-m btn-info" ng-click="openAddBookModal()">
                            <span>Add Book</span>
                        </button>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Cover image</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Genre</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                            </tr>
                            </thead>
                            <tbody class="text-left">
                            <tr ng-repeat="book in books">
                                <td>{{book.ISBN}}</td>
                                <td>{{book.title}}</td>
                                <td><img ng-src="{{book.coverImage? book.coverImage : './../image/placeholder.jpg'}}" class="avatar-img"></td>
                                <td><ul ng-repeat="author in book.AuthorsInBook">
                                    <li>{{author.fullName}}</li>
                                </ul></td>
                                <td>{{book.publisher}}</td>
                                <td>{{book.genre}}</td>
                                <td>{{book.createdAt | date : 'yyyy-MM-dd'}}</td>
                                <td>{{book.updatedAt | date : 'yyyy-MM-dd'}}</td>
                                <td>
                                    <button class="btn btn-outline btn-default" type="button" ng-click="removeBook(book)">
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination total-items="totalItems" items-per-page="currentPage.limit" ng-model="currentPage.page"
                                    ng-change="pageChanged()" class="pagination-sm" boundary-links="false"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>