<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="LoginCtrl">
    <div>
        <div>
            <h1 class="logo-name">Test</h1>
        </div>
        <h4>Welcome to Test Project</h4>
        <p>Just several api to practice Passport and Sequelize.
        </p>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" required="" ng-model="login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="loginUser()">Enter</button>
        </form>
    </div>
</div>