<div class="wrapper wrapper-content animated fadeInRight" ng-controller="UsersCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>Users</h1>
                <div class="row">
                    <div class="col-md-2 col-md-offset-8">
                        <button type="button" class="btn btn-w-m btn-info" ng-click="openAddModal()">
                            <span>Add</span>
                        </button>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Avatar</th>
                                    <th>E-mail</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-left">
                                <tr ng-repeat="user in users">
                                    <td>{{::user.name}}</td>
                                    <td><img ng-src="{{user.avatar? user.avatar : '/admin/image/placeholder.png'}}" class="avatar-img"></td>
                                    <td>{{::user.email}}</td>
                                    <td>
                                        <button class="btn btn-outline btn-default" type="button" ng-click="remove(user.id)">
                                            <span>Delete</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination total-items="totalItems" items-per-page="currentPage.limit" ng-model="currentPage.page"
                                    ng-change="pageChanged()" class="pagination-sm" boundary-links="false"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>