<div class="inmodal">
    <div class="modal-header">
        <h6 class="modal-title room-edit">Are you sure you want to remove '{{title}}'? All duties will be removed!</h6>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="$close()">NO</button>
        <button type="button" class="btn btn-primary" ng-click="removeEvent()">YES</button>
    </div>
</div>
