<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Admin</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Nothing here yet</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.authors"><i class="fa fa-pied-piper-alt"></i> <span class="nav-label">Authors</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.books"><i class="fa fa-book"></i> <span class="nav-label">Books</span></a>
            </li>
        </ul>

    </div>
</nav>