.avatar-img{
    height: 81px;
    width: 147px;
    border-radius: 30px;
}

.avatar-img-sm {
    height: 45px;
    width: 100px;
    border-radius: 30px;
}

.date{
    margin: 20px;
}

.disabled{
    color: #5b5d5f;
    opacity: 0.5;
}

.warning-msg{
    font-family:  "Glacial Indifference-Regular";
    font-size: 24px;
    color: black;
    letter-spacing: 0;
    padding: 34px 72px 25px;
    text-align: center;
    margin: 0;
}

.book-author-list{
    list-style-type: none;
}

.upload-cover{
    margin: 13px;
}



